body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #E0F2F1, #c6d8f4);
}

.questionnaire {
  max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #E0F2F1, #d4b2f2); 
    color: #333;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.543);
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    position: relative;
    left: 23%;
}

h1 {
  text-align: center;
  color: #4a148c;
}

p {
  text-align: center;
  color: #6a1b9a;
}

.question {
  margin-top: 20px;
}

label {
  font-size: 1.5em;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #6a1b9a;
  font-size: 15px;
  border-radius: 5px;
}

.tooltip {
  margin-left: 5px;
  color: #6a1b9a;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #d1c4e9;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

.progress {
  height: 100%;
  background-color: #4a148c;
  transition: width 0.3s;
}

.summary {
  text-align: center;
  color: #4a148c;
}